@model SELORG.Models.PostDetail
@{
    Layout = null;
    int Number = Model.PostDetailId;
    String imgId = "img" + Number;
    String preview = "preview" + Number;
    
}

<style>

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>
  
 <div class="content-wrapper">   
     
    <div class="card card-register mx-auto mt-5">
        <h4 style="text-align:center">Category: @Model.Heading
     </h4> 
     
      <div class="card-body">
        <form id="addformcategory" method="post" enctype="multipart/form-data" action="../../admin/updatepostdetail">       
            
            <div class="form-group">
          <input class="form-control"  id="Id" value="@Model.PostDetailId" name="Id" required  aria-describedby="emailHelp" hidden/>
            <input class="form-control"  id="postId" value="@Model.PostId" name="PostId" required  aria-describedby="emailHelp" hidden/>
          </div>
        <div class="form-group">
            <label  for="Title"><b>Heading </b></label>
            <input class="form-control"  id="Subject" name="Heading" value="@Model.Heading" required  aria-describedby="emailHelp" placeholder="Enter Heading"/>
          </div>
          
          <div class="form-group">
            <label for="Title"><b>Content of Heading </b></label>
            <textarea class="form-control"   id="Content" name="Content"  required  aria-describedby="emailHelp" placeholder="Enter Content">@Model.Content</textarea>
          </div>
           <div class="form-group">
            <label for="Title"><b>URL</b></label>
           <input class="form-control" id="URL" name="URL" value="@Model.Link" required type="text" aria-describedby="emailHelp" placeholder="Enter URL">
          </div>
            
           
            <div class="form-group">
            <label for="Title"><b>Select image</b> </label>
                <div style="border:1px solid gray; background-color:lightgray; width:100%;  " class="btn btn-file">
                  <input id="@imgId" type="file" name="files" onchange="previewFiles('@imgId','@preview')">

                    <p style="margin-top:1%">Upload image from here</p></div>
                

          </div>
           <div id="@preview"><img src="@Model.FileName.Replace("~","../..")" style="height:300px; width:600px" /></div>                

          <div class="form-group">
            <label for="Title"><b>Text Allignment for Heading  @Session["no"]</b>(e.g Left for English Content, Right for Urdu...) </label>
             <select name="TextAllignment" required class="form-control"><option value="left">Left.</option><option value="right">Right.</option></select>
          </div>
            <div class="form-group">
            <label for="Title">isDeleted</label>
            <select name="isDeleted" id="getDeleted" required class="form-control"><option value="0">No.</option><option value="1">Yes.</option></select>
            <input id="isDeleted" value="@Model.isDeleted" hidden/>
             <input id="no" name="no"  value="@Model.no" hidden/>
          </div>
             <button id="submitform" class="btn btn-primary btn-block"  type="submit">Update</button>
    </form>
              <button id="cancel" class="btn btn-default btn-block"  type="submit"><a href="../../admin/getpostdetail/@Model.PostId">Cancel</a></button>
    </div>
  </div>
 </div>
 
        
<div id="@Number"></div>
  <!-- Bootstrap core JavaScript-->
<script src="../../Content/admin/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">

   
    function previewFiles(imgId, previewId) {
        //alert(imgId + "  " + previewId);
        var preview = document.querySelector('#' + previewId);
        if (preview.childElementCount > 0) {

            $("#" + previewId).empty();
          
            
        }
        var files = document.querySelector('#'+imgId).files;

        function readAndPreview(file) {

            // Make sure `file.name` matches our extensions criteria
            if (/\.(jpe?g|png|gif|jpg)$/i.test(file.name)) {
                var reader = new FileReader();

                reader.addEventListener("load", function () {
                    var image = new Image();
                    image.height = 300;
                    image.width = 600;
                    image.title = file.name;
                   // alert(this.result);
                    image.src = this.result;
                    preview.appendChild(image);
                }, false);

                reader.readAsDataURL(file);
            }

        }

        if (files) {
            [].forEach.call(files, readAndPreview);
        }

    }
</script>