@model List<SELORG.Models.Comment>
@{
    Layout = "../../Views/Shared/_admin.cshtml";
    int srNo = 1;
}

<div id="result">
<div class="content-wrapper">
    
<div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="../../admin/index">Admin</a>
        </li>
        <li class="breadcrumb-item active">Comments</li>
       
      </ol>
      <!-- Example Post categories-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Comments of URL @Model.First().URL
               

        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                   <th >Sr. No</th>
                  <th>Comment</th>                                                                       
                    <th>User</th>   
                  <th>Delete</th>
                  
                </tr>
              </thead>
              <tfoot>
                <tr>
                 <th >Sr. No</th>
                  <th>Comment</th>                                                                       
                    <th>User</th>   
                  <th>Delete</th>
                  
                </tr>
              </tfoot>
              <tbody>
                  @foreach (var v in Model.Where(x=>x.isDeleted==0).ToList())
                  {
                  <tr >
                   <td >@srNo</td>
                  <td>@v.Content.Replace("\n"," ") </td>
                  <td>@v.UserProfile.DisplayName</td>
               
                  <td><a class="nav-link" data-toggle="modal" href="#" onclick="deleteCommentofURL(@v.CommentId, '@v.Content')" data-target="#removeModal"><i class="fa fa-remove"></i></a></td>
                      </tr>
                      srNo = srNo + 1;
                  }
                              
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    
    
</div>

</div></div>
 
 <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="removeModalLabel">Ready to Delete?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Delete" below if you are ready to deleteall comments which belong to <p id="tobedeleted"></p>.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" type="submit" href="../../admin/deleteComment/">Delete</a>
              
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
        
        function deleteCommentofURL(ID, Name) {
            $("#tobedeleted").html(Name);
            $("a[href='../../admin/deleteComment/']").attr('href', '../../admin/deleteComment/' + ID);

        }

       

    </script>