@model SELORG.Models.Post
@{
    Layout = "../../Views/Shared/_admin.cshtml";
}

<div id="result">
<div class="content-wrapper">
    
<div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Post Detail</li>
      </ol>
      <!-- Example Post categories-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> @Model.PostTitle           
              <div style="margin-left:80%; " >
                   <a class="btn btn-success" href="../../publications/preview/@Model.PostId">Preview</a> 
          </div>

        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                     <th>Sr. No</th>
                  <th>Title</th>
                  <th>Post Content</th>                
                    <th>Status</th>
                  <th>Edit</th>
                  <th>Delete</th>
                  
                </tr>
              </thead>
              <tfoot>
                <tr>
                    <th>Sr. No</th>
                   <th>Title</th>
                  <th>Post Content</th>              
                    <th>Status</th>
                  <th>Edit</th>
                  <th>Delete</th>
                  
                </tr>
              </tfoot>
              <tbody>
                  @{
                      int srNo = 1;
                   foreach(var v in Model.PostDetail.Where(x=>x.isDeleted==0)){
                      <tr style="max-height:400px">
                          <th>@srNo</th>
                      <td>@v.Heading</td>
                      <td>@v.Content</td>                      
                      @if (v.isDeleted == 1) {<td>Deleted </td>} else{ <td>Active </td> }
                      <td onclick="editpost(@v.PostDetailId)"><a class="nav-link" href="#" ><i class="fa fa-edit"></i></a></td>
                      <td><a class="nav-link" data-toggle="modal" href="#" onclick="deletepost(@v.PostDetailId,'@v.Heading')" data-target="#removeModal"><i class="fa fa-remove"></i></a></td>
                          </tr>
                       srNo = srNo + 1;
                  }
                  }
                 
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    
</div>

</div>


 <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="removeModalLabel">Ready to Delete?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Delete" below if you are ready to delete <p id="tobedeleted"></p>.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" type="submit" href="../../admin/deletepostdetail">Delete</a>
              
          </div>
        </div>
      </div>
    </div>
    </div>
    <script type="text/javascript">
        function editpost(ID) {
          //  alert(ID);
            $("#result").load("../../admin/editpostdetail/" + ID);
        }

        function deletepost(ID, Name) {
            $("#tobedeleted").html(Name);
            $("a[href='../../admin/deletepostdetail']").attr('href', '../../admin/deletepostdetail/' + ID);

        }

         
       
    </script>