@using SELORG.Models
@{
    UserProfile up = (UserProfile)Session["user"];
    selorgpkEntities ctx = new selorgpkEntities();
    List<ApplicationCategory> listOfApps = new List<ApplicationCategory>();
    List<PostCategory> listOfPostCategories = ctx.PostCategories.Where(x => x.isDeleted == 0 && x.CategoryTitle.ToLower() != "megazine" && x.CategoryTitle.ToLower() != "blog").ToList();
    try{
      listOfApps = ctx.ApplicationCategories.Where(x=>x.isDeleted==0).ToList();
    }catch(Exception e){
    }
   
    List<Post> listOfPosts = ctx.Posts.ToList();
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>

     <link rel="stylesheet" href="../../Content/studio/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Content/studio/css/user.css">
    <link rel="stylesheet" href="../../Content/studio/css/Google-Style-Login.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Sada-e-Librarian</title>
    <link href="../../Content/client/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../Content/client/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="../../Content/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Express News Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- for bootstrap working -->
    <script type="text/javascript" src="../../Content/client/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- web-fonts -->
    
 
    <script type="text/javascript" src="../../Content/client/js/move-top.js"></script>
    <script type="text/javascript" src="../../Content/client/js/easing.js"></script>
    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#parentId").hide();

            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
</head>
<body   >
    <!-- header-section-starts-here -->
    <div class="header" id="#to-top">
        <div class="header-top" style="margin-left:3%; margin-right:3%;  margin-top:.5%; margin-bottom:-.2%; padding-bottom:-.4%"> 
            <div class="wrap">
                <div class="top-menu">
                    <ul>
                        <li><a href="../../home/index">Home</a></li>
                        <li><a href="../../home/introduction">About Us</a></li>
                       
                        <li><a href="../../home/contact_us">Contact Us</a></li>
                    </ul>
                </div>
                <div class="num">
                    @if(up==null){
                    <p style="color:white"> <a style="color:black" class="btn btn-sm" data-toggle="modal" data-target="#login"> Sign In </a>  I
                         <a style="color:black" class="btn btn-sm" data-toggle="modal" data-target="#signup"> Sign Up </a></p>
                    }else{
                       
                            if(up.role==1||up.role==2){
                                 <p style="color:white"> 
                                 <a style="color:black" class="btn btn-sm" href="../../users/profile/@up.UserId"> Profile </a>  I
                                 <a style="color:black" class="btn btn-sm" href="../../admin"> Dashboard </a></p>
                                 
                            }
                        else{
                                   <p style="color:white"> 
                                     <a style="color:black" class="btn btn-sm" href="../../users/profile/@up.UserId"> Profile </a>  I
                                      <a style="color:black" class="btn btn-sm" href="../../users/logout"> Sign Out </a></p>
                        }
                           
                      
                    }
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="header-bottom " style="margin-left:1.1%; margin-right:1.1%;  ">
            <div class="navigation">
                <nav class="navbar navbar-default" role="navigation" >
                    <div class="wrap">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>
                        <!--/.navbar-header-->

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav" style="margin-left:-2%">
                               
                                
                                <li class="dropdown">
                                    <a href="../../publications/megazine" >Megazine</a>
                                    
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Articles<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        @foreach(var v in listOfPostCategories){
                                        <li><a href="../../publications/posts/@v.CategoryId">@v.CategoryTitle</a></li>
                                        <li class="divider"></li>
                                        }
                                    </ul>
                                </li>
                                  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Applications<b class="caret"></b></a>
                                      
                                    <ul class="dropdown-menu">
                                        @foreach(var v in listOfApps){
                                        <li><a href="../../applications/apps/@v.ApplicationCategoryId">@v.Title</a></li>
                                        <li class="divider"></li>
                                        }
                                        
                                         
                                    </ul>
                                </li>
                                
                                  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Find a Librarian<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="../../professionals/addprofessional">Submit Your Data</a></li>
                                        <li class="divider"></li>
                                        <li><a href="../../professionals/findprofessional">Database</a></li>
                                        <li class="divider"></li> 
                                        
                                    </ul>
                                </li>
                        <li >
                                    <a href="../../publications/blogs" >Blogs</a>
                                    
                                </li>
                              
                              
                            </ul>
                            <div class="search">
                                <!-- start search
                                <div class="search-box">
                                    <div id="sb-search" class="sb-search">
                                        <form method="get" action="../../search/get">
                                            <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="searchstr" id="search">
                                            <input class="sb-search-submit" type="submit" value="">
                                            <span class="sb-icon-search"> </span>
                                        </form>
                                    </div>
                                </div>
                                    -->
                                <!-- search-scripts -->
                                <script src="../../Content/client/js/classie.js"></script>
                                <script src="../../Content/client/js/uisearch.js"></script>
                                <script>
                                    new UISearch(document.getElementById('sb-search'));
                                </script>
                                <!-- //search-scripts -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--/.navbar-collapse-->
                    <!--/.navbar-->
                </nav>
            </div>
             <div class="logo text-center" style="padding-left:1.5%; padding-right:1.5%">
                <a href="../../home/index"><img src="../../Content/client/images/logo.jpg" alt="" /></a>
            </div>
           
            
        </div>
    </div>
    <!-- header-section-ends-here -->
    <!--
    <div class="wrap">
        <div class="move-text">
            <div class="breaking_news">
                <h2>Breaking News</h2>
            </div>
            <div class="marquee">
                <div class="marquee1"><a class="breaking" href="single.html">>>The standard chunk of Lorem Ipsum used since the 1500s is reproduced..</a></div>
                <div class="marquee2"><a class="breaking" href="single.html">>>At vero eos et accusamus et iusto qui blanditiis praesentium voluptatum deleniti atque..</a></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <script type="text/javascript" src="../../Content/client/js/jquery.marquee.min.js"></script>
            <script>
                $('.marquee').marquee({ pauseOnHover: true });
                // sourceURL=pen.js
            </script>
        </div>
    </div>
        
        -->

    <!-Body starts from here-->

    @RenderBody()

    <!-Body ends here-->






    <!-- footer-section-starts-here -->
    <div class="footer">
        <div class="footer-top">
            <div class="wrap">
                <div class="col-md-3 col-xs-6 col-sm-4 footer-grid">
                    <h4 class="footer-head">About Us</h4>
                    <p>Sada-e-librarian is like the little swallow who approached to put off the Namrood’s fire
                             with a few drops of water in his beak.
                            Likewise our effort will neither bring any revolution to Pakistani librarianship nor we wish to do so.
                             It is just an effort in the footsteps of that little swallow’s way of thinking.</p>
                </div>
                <div class="col-md-2 col-xs-6 col-sm-2 footer-grid">
                    <h4 class="footer-head">Categories</h4>
                    <ul class="cat">

                        @foreach(var v in listOfPostCategories){
                           <li><a href="../../publications/posts/@v.CategoryId">@v.CategoryTitle</a></li>
                        }
                       
                    </ul>
                </div>
                <div class="col-md-4 col-xs-6 col-sm-6 footer-grid">
                    <h4 class="footer-head">Flickr Feed</h4>
                    <ul class="flickr">
                        @{
                            int ii = 0;
                        foreach (var v in listOfPosts.Where(x=>x.isDeleted==0 && x.isPublished==1 && x.PostDetail.ToList().Count()>0))
                        { 
                            ii++;
                            if(ii>=10)
                            {
                                break;
                            }
                        <li><a href="../../publications/detail/@v.PostId"><img src="@v.PostDetail.First().FileName.Replace("~","../..")"></a></li>
                        }}
                       
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-12 footer-grid">
                    <h4 class="footer-head">Contact Us</h4>
                    <span class="hq">Our headquaters</span>
                    <address>
                        <ul class="location">
                            <li><span class="glyphicon glyphicon-map-marker"></span></li>
                            <li>4th Floor, 3rd Building Aiwan-e-Iqbal Complex Egerton Road Lahore</li>
                            <div class="clearfix"></div>
                        </ul>
                        <ul class="location">
                            <li><span class="glyphicon glyphicon-earphone"></span></li>
                            <li>+92 (334) 976-3374</li>
                            <div class="clearfix"></div>
                        </ul>
                        <ul class="location">
                            <li><span class="glyphicon glyphicon-envelope"></span></li>
                            <li><a href="mailto:sel.org.pk@gmail.com">sel.org.pk@gmail.com</a></li>
                            <div class="clearfix"></div>
                        </ul>
                    </address>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrap">
                <div class="copyrights col-md-6">
                    <p> © 2018 Sada e Librarian. All Rights Reserved | Developed by <strong>Shakeel Zafar</strong> </p>
                </div>
                <div class="footer-social-icons col-md-6">
                    <ul>
                        <li><a class="facebook" href="#"></a></li>
                        <li><a class="twitter" href="#"></a></li>
                        <li><a class="flickr" href="#"></a></li>
                        <li><a class="googleplus" href="#"></a></li>
                        <li><a class="dribbble" href="#"></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- footer-section-ends-here -->
    <script type="text/javascript">

        


        $(document).ready(function () {
            //$('#checking').hide();

           




            $('#email').change(function () {

                var Email = $('#email').val();


                $.post("/users/CheckUserName?email=" + Email, function (data) {
                    if (data == "y") {
                        $("#checking").html("User already exists.\nPlease use an other email.")
                        $("#upme").hide();
                        $("#checking").show();
                    } else {
                        $("#upme").show();
                        $("#checking").hide();
                    }

                });

            });

            
           $("#form").submit(function (e) { e.preventDefault() });

            $('#getmeIn').click(function () {

                var Email = $('#inputEmail').val();
                var Pass = $('#inputPassword').val();

              
                $.post("/users/access?email="+Email+"&password="+Pass, function (data) {
                    if (data == "y") {
                        $("#result").html("Invalid Email or Password.")                                               
                        $("#result").show();
                        $("#form").submit(function (e) { e.preventDefault() });
                    } else {
                        $("#result").hide();
                       // alert("b");
                        $("#form").unbind('submit').submit()
                        //alert("a");
                    }
                    
                });

            });
             
            var defaults = {
                wrapID: 'toTop', // fading element id
                wrapHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };

            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!---->

 
    @RenderSection("scripts", required: false)
</body>
</html>




  

 <!-- Modal -->
  <div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog">
    
    <div class="login-card"><img src="../../Content/studio/images/avatar.png" class="profile-img-card">
        <p class="profile-name-card"> </p>
         <form id="form" class="form-signin"  method="post" action="../../users/login"><span class="reauth-email"> </span>
            <input class="form-control" type="email" required placeholder="Email address" autofocus="" id="inputEmail">
            <input class="form-control" type="password" required placeholder="Password" id="inputPassword">
               <p id="result" hidden></p> 
            <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit" id="getmeIn">Sign in</button>
        </form>
        <a href="../../users/forget" class="forgot-password">Forgot your password?</a></div>
 
    <script id="bs-live-reload" data-sseport="17478" data-lastchange="1520862650539" src="../../Content/studio/js/livereload.js"></script>
      
    </div>
  </div>
  

 <!-- Modal -->
  <div class="modal fade" id="signup" role="dialog">
    <div class="modal-dialog">
    
    <div class="login-card">
        <h3 style="text-align:center">Sign Up </h3>
     
        <p class="profile-name-card"> </p>
        <form  class="form-signin" method="post" action="../../users/addUserProfile"><span class="reauth-email"> </span>
            <input class="form-control" name="name" type="text" required="" placeholder="Your Name" id="name">
            <input class="form-control" name="email" type="email" required="" placeholder="Email address" autofocus="" id="email">
            <p id="checking" hidden></p>
            <input class="form-control" name="pass" type="password" required="" placeholder="Password" id="pass">
           
            <button class="btn btn-primary btn-block btn-lg btn-signin" id="upme" type="submit">Sign Up</button>
        </form>
  
    <script id="bs-live-reload" data-sseport="17478" data-lastchange="1520862650539" src="../../Content/studio/js/livereload.js"></script>
      
    </div>
  </div>