@using SELORG.Controllers
@using SELORG.Models
@{
    selorgpkEntities ctx = new selorgpkEntities();

    UserProfile up = (UserProfile)Session["user"];
    List<Blog> list = ctx.Blog.Where(x => x.isDeleted == 0).ToList();
    
}
<!-- content-section-starts-here -->
	<div class="main-body">
		<div class="wrap">
			<div class="col-md-8 content-left">
			 
				<div class="articles" style="margin-top:-2%">
					<header>
						<h3 class="title-head">Blogs

                            @if(up!=null &&  up.Blog.ToList().Count()>0){
                                <a href="../../admin/blogs" style="float:right" class="btn btn-success">Edit my Blog</a>
                            }else if(up!=null){
                                <a href="../../admin/blogs" style="float:right" class="btn btn-success">Create your own</a>
                            }
                            else{
                               <p style="float:right;font-size:12px"class="btn btn-sm" data-toggle="modal" data-target="#signup" >To create your own blog, <a>register here</a> </p>
                            }
                        </h3> 
					</header>
                   
                        @foreach (var v in list)
                        { 
                            <div class="article" style=" background-color:#ffffff;  padding-bottom:-15%">
						        <div class="article-left" style="background-color:#ffffff; margin-top:1%; padding-left:1%">
							       
                                    @if (v.picture != null && v.picture != "")
                                    {
					                    <a href="../../publications/getblog/@v.BlogId"><img src="../../Files/Blogs/@v.BlogId/@v.picture"></a>
                                    }
                                    else
                                    {
                                          
                                    }
                                    
                                    
						        </div>

                           <div class="article-right"  style="margin-top:1%; padding-right:1%; "> 

                                    <div class="article-title" style="background-color:#544e44;border:solid 1px grey; padding-left:2%" >
								       
								        <a class="title" style="color:white" href="../../publications/getblog/@v.BlogId"> 
                                            @v.BlogTitle</a>
							        </div>
								    <p>@v.BlogDescription</p>
                               
                                       
                                 <a  href="../../publications/getblog/@v.BlogId" style="float:right"><img src="../../Content/client/images/more.png" alt="" /></a>         
                                        <div class="clearfix"></div>

                                         <p>@v.CreatationDate<a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>@CRUD.getComments((String)Session["currentURL"]).Count()</a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>@v.views</a></p>
                                         
                                        <p>Writer:  <strong>@v.UserProfile.DisplayName</strong></p>
								
								        <div class="clearfix"></div>
							        </div>
                           
							
						</div>
						<div class="clearfix"></div>
					
                            
                        }
				</div>

			     @Html.Partial("/Views/Shared/comments.cshtml")
				@Html.Partial("/Views/Shared/addresponse.cshtml")


				</div>

			  @Html.Partial("/Views/Shared/recentposts.cshtml")
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- content-section-ends-here -->