@model SELORG.Models.Post
@using SELORG.Models
@{
    selorgpkEntities ctx = new selorgpkEntities();
    List<PostCategory> list = ctx.PostCategories.Where(x => x.isDeleted == 0).ToList();
}
<!-- content-section-starts-here -->
	<div class="main-body">
		<div class="wrap">
		 
			<div class="single-page" style="margin-top:-2%">
			<div class="col-md-2 share_grid">
				<h3>SHARE</h3>
				<ul>
					<li>
						<a href="http://www.facebook.com/sharer.php?u=sel.org.pk/publications/detail/@Model.PostId">
							<i class="facebook"></i>
							<div class="views">
								<span>SHARE</span>
								
							</div>			
							<div class="clearfix"></div>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/share?url=sel.org.pk/publications/detail/@Model.PostId">
							<i class="twitter"></i>
							<div class="views">
								<span>TWEET</span>
								
							</div>			
							<div class="clearfix"></div>				
						</a>
					</li>
					<li>
						<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=sel.org.pk/publications/detail/@Model.PostId">
							<i class="linkedin"></i>
							<div class="views">
								<span>SHARES</span>
							
							</div>			
							<div class="clearfix"></div>								
						</a>
					</li>
					<li>
						<a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
							<i class="pinterest"></i>
							<div class="views">
								<span>PIN</span>
								
							</div>			
							<div class="clearfix"></div>				
						</a>
					</li>
					<li>
						<a href="mailto:?Subject=Sada e Librarian &amp;Body=I saw this post and thought to share with you!%20 http://sel.org.pk/publications/detail/@Model.PostId">
							<i class="email"></i>
							<div class="views">
								<span>Email</span>	
							</div>			
							<div class="clearfix"></div>			
						</a>
					</li>
				</ul>
			</div>	
			<div class="col-md-6 content-left single-post">
				<div class="blog-posts">
			<h3 style=" ;text-align:@Model.TitleAllignment; " class="post"><strong>@Model.PostTitle</strong></h3>
            <h4 style="text-align:@Model.TitleAllignment; " class="post"><b>@Model.Author</b></h4>
				<div class="last-article">
                    
                    @foreach(var v in Model.PostDetail.Where(x=>x.isDeleted==0).ToList()){
					
					<h3  style="  text-align:@v.TextAllignment">@v.Heading</h3>
                        if(v.FileName!=null && v.FileName!=""){
					         if (v.Post.PostCategory.CategoryTitle.ToLower().Equals("magazine"))
                            {
                                <a href="@v.Link"> <img style="width:100%; height:600px" src="@v.FileName.Replace("~","../..")"/></a>
                            }
                            else
                            {
					            <a href="@v.Link"> <img style="width:100%; height:400px" src="@v.FileName.Replace("~","../..")"/></a>
                            }
                        }
					<p class="artext" style="color:black; text-align:@v.TextAllignment; ">@v.Content</p>
					}
					<ul class="categories"> 
                        @{
                            if(Model.Tags!=null){
                            foreach(String s in Model.Tags.Split(',').ToList()){
						<li><a href="#">@s</a></li>
                        }
                        }
                        }
					</ul>
					<div class="clearfix"></div>
                        
					<!--related-posts-->
				<div class="row related-posts">
					<h4>Articles You May Like</h4>
                    @{
                        int i=0; 
                    foreach(var v in Model.PostCategory.Posts.Where(x=>x.PostId!=Model.PostId && x.isDeleted==0 && x.isPublished==1).ToList().Where(x=>x.PostDetail.ToList().Count()>0).ToList()){
                        
					<div class="col-xs-6 col-md-3 related-grids">
						<a href="../../publications/detail/@v.PostId" class="thumbnail">
							<img src="@v.PostDetail.First().FileName.Replace("~","../..")" alt=""/>
						</a>
						<h5><a href="../../publications/detail/@v.PostId">@v.PostTitle</a></h5>
					</div>	
                        i = i + 1;
                        if (i == 5)
                        {
                            break;
                        }
                    }
                    }
					
				</div>
				<!--//related-posts-->

			     @Html.Partial("/Views/Shared/comments.cshtml")
				@Html.Partial("/Views/Shared/addresponse.cshtml")
				<div class="clearfix"></div>
			</div>
		</div>

				</div>

                

			<div class="col-md-4 side-bar">
			<div class="first_half">
				<div class="categories">
					<header>
						<h3 class="side-title-head">Categories</h3>
					</header>
					<ul>
                        @foreach(var v in list){
						<li><a href="../../publications/posts/@v.CategoryId">@v.CategoryTitle</a></li>
                        }
						
					</ul>
				</div>
			 		  </div>
					<div class="clearfix"></div>
			</div>
                  @Html.Partial("/Views/Shared/recentposts.cshtml")
			<div class="clearfix"></div>
		</div>
		</div>
	</div>
	<!-- content-section-ends-here -->