@model SELORG.Models.Blog
@using SELORG.Controllers
@using SELORG.Models
@{
    selorgpkEntities ctx = new selorgpkEntities();
    PostCategory pc = ctx.PostCategories.First(x => x.CategoryTitle == "blogs");
    List<Post> list = ctx.Blog.Find(Model.BlogId).UserProfile.Posts.ToList();
   
    
}


 
<!-- content-section-starts-here -->
	<div class="main-body">
		<div class="wrap">
			<div class="col-md-8 content-left">
			 

				<div class="articles" style="margin-top:-2%">
                    
                    
                    <div class="rslides">
                            <img src="../../Files/Blogs/@Model.BlogId/@Model.picture"  alt="" style="height:400px">
                            <div class="caption">
                               
                              
                            </div>
                        <div class="caption">
                              
                                  <img style="width:100px; height:100px" class="circular" src="../../Files/users/@Model.UserProfile.UserId/@Model.UserProfile.picture" alt="" />
                             <a href="#">@Model.BlogDescription</a>
                            </div>
                    </div>

                    
                    
					<header>
						<h3 class="title-head">@Model.BlogDescription</h3>
					</header>
                   
                        @foreach (var v in list.Where(x=>x.isDeleted==0 && x.isPublished==1 && x.PostDetail.ToList().Count()>0))
                        { 
                            
                             <div class="article" style=" background-color:#ffffff;  padding-bottom:-15%">
						        <div class="article-left" style="background-color:#ffffff; margin-top:1%; padding-left:1%">
							        <a href="../../publications/detail/@v.PostId">
                                        <img src="@v.PostDetail.First().FileName.Replace("~","../..")" ></a>
						        </div>
						        <div class="article-right"  style="margin-top:1%; padding-right:1%; ">
							        <div class="article-title" style="background-color:#544e44;border:solid 1px grey; padding-left:2%" >
								        <a style="color:white; font-size:20px" class="title" href="../../publications/detail/@v.PostId"> 
                                            @v.PostTitle</a>
							        </div>
							        <div class="article-text" style=" ">
								        <h4 style="color:black; font-size:18px">@v.PostDetail.First().Content</h4>
								        <a href="../../publications/detail/@v.PostId"><img src="../../Content/client/images/more.png" alt="" /></a>
								        <div class="clearfix"></div>
                                
                                        <p>@v.CreatationDate<a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>@CRUD.getComments((String)Session["currentURL"]).Count()</a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>@v.views</a></p>
								
							        </div>
						        </div>
						        <div class="clearfix"></div>
					        </div> 
                        }
                          
			
				</div>

			     @Html.Partial("/Views/Shared/comments.cshtml")
				@Html.Partial("/Views/Shared/addresponse.cshtml")


				</div>

			  @Html.Partial("/Views/Shared/recentposts.cshtml")
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- content-section-ends-here -->