@using SELORG.Controllers
@using SELORG.Models
@{
    selorgpkEntities ctx = new selorgpkEntities();
    
    PostCategory Model = ctx.PostCategories.First(x => x.CategoryTitle.ToLower() == "megazine" && x.isDeleted == 0);
    List<Post> listOfPosts = ctx.Posts.Where(x => x.PostCategoryId == Model.CategoryId).ToList();
    
    
}
<!-- content-section-starts-here -->
	<div class="main-body">
		<div class="wrap">
			<div class="col-md-8 content-left">
			 
				<div class="articles">
					<header>
						<h3 class="title-head">@Model.CategoryTitle</h3>
					</header>
                   
                        @foreach (var v in listOfPosts.Where(x=>x.isDeleted==0 && x.isPublished==1 && x.PostDetail.ToList().Count()>0))
                        { 
                            <div class="article" style=" background-color:#ffffff;  padding-bottom:-15%">
						<div class="article-left" style="background-color:#ffffff; margin-top:1%; padding-left:1%">
							<a href="../../publications/detail/@v.PostId">
                                <img src="@v.PostDetail.First().FileName.Replace("~","../..")" ></a>
						</div>
						<div class="article-right"  style="height:250px;margin-top:1%; padding-right:1%; ">
							<div class="article-title" style="background-color:#544e44;border:solid 1px grey; padding-left:2%" >
								<a style="color:white" class="title" href="../../publications/detail/@v.PostId"> 
                                    @v.PostTitle</a>
							</div>
							<div class="article-text" style="min-height:200px; ">
								<p style="color:black">@v.PostDetail.First().Content</p>
								<a href="../../publications/detail/@v.PostId"><img src="../../Content/client/images/more.png" alt="" /></a>
								<div class="clearfix"></div>
                                
                                <p>@v.CreatationDate<a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>@CRUD.getComments((String)Session["currentURL"]).Count()</a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>@v.views</a></p>
								
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
                            
                        }
                          
			
				</div>

			     @Html.Partial("/Views/Shared/comments.cshtml")
				@Html.Partial("/Views/Shared/addresponse.cshtml")


				</div>

			  @Html.Partial("/Views/Shared/recentposts.cshtml")
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- content-section-ends-here -->