@using SELORG.Models
@{
    selorgpkEntities ctx = new selorgpkEntities();
    List<UserProfile> list = ctx.UserProfiles.Where(x =>x.isDeleted==0 && x.role != null && x.role != 0).OrderBy(x => x.role).ToList();
    
}
    <!-- content-section-starts-here -->
<div class="main-body">
    <div class="wrap">
        <div class="col-md-8 content-left">
            @foreach(var v in list){
            <div class="sports-top" style="border:1px solid grey; padding-left:3%; padding-bottom:2%">
               
                
                        <div class="s-grid-small">
                            <div class="sc-image-contact">
                                  @if(v.picture!=null){
                                   <a href="#">
                                    <img style="width:150px; height:150px"   class="circular" src="../../Files/users/@v.UserId/@v.picture" alt="" /></a>
                                }else{
                                      <img style="width:150px; height:150px" class="circular" src="../../Content/studio/images/avatar.png" alt="" />
                                }
                               
                            </div>
                        </div>
                     
                            <div class="sc-text" style="margin-top:2%">
                                <h6>@v.DisplayName</h6>
                                <a class="power" href="#">@v.Email &nbsp; &nbsp; &nbsp; 
                                    @if(v.role==1){
                                        <p>Admin</p> }                                                    
                                                     else if(v.role==2){
                                                          <p>Co-Admin</p> } else if(v.role==3){ 
                                                                              <p>Editor</p> } else if(v.role==4){
                                                                                                <p>Team Member</p> }

                                </a>
                                <p class="date">@v.RegistrationDate</p>
                                 
                                <div class="clearfix"></div>
                            </div>
                       
                <div class="clearfix"></div>

            </div>
            }
            @Html.Partial("/Views/Shared/comments.cshtml")
				@Html.Partial("/Views/Shared/addresponse.cshtml")
        </div>
        @Html.Partial("/Views/Shared/recentposts.cshtml")
        <div class="clearfix"></div>
    </div>
</div>
<!-- content-section-ends-here -->