@using SELORG.Models
@{
    selorgpkEntities ctx = new selorgpkEntities();
    
    PostCategory Model = ctx.PostCategories.First(x => x.CategoryTitle.ToLower() == "magazine" && x.isDeleted == 0);
    List<Post> listOfPosts = ctx.Posts.Where(x => x.PostCategoryId == Model.CategoryId).ToList(); 
    
}
<script src="../../Content/client/js/responsiveslides.min.js"></script>
	<script>
	    $(function () {
	        
	        
             
	        $("#slider").responsiveSlides({
			auto: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			pager: true,
		  });
		});
	</script>
 


    <!-- content-section-starts-here -->
<div class="main-body">
    <div class="wrap">
        <div class="col-md-8 content-left">
            <div class="slider">
                <div class="callbacks_wrap">
                    <ul class="rslides" id="slider">
                        @for(int i=0; i<5; i++){
                            try
                            {
                                Post v = listOfPosts.ElementAt(i);
                        <li>
                            <img src="@v.PostDetail.First().FileName.Replace("~", "../..")" style="height:400px" alt="">
                            <div class="caption">
                                <a style="text-align:@v.TitleAllignment" href="../../publications/detail/@v.PostId">@v.PostTitle</a>
                            </div>
                        </li>
                            }
                            catch (Exception ee) { }
                        }
                       
                    </ul>
                </div>
            </div>
            <br>
           
            <div class="sports-top">
                <div class="s-grid-left">
                    <div class="cricket">
                        <header>
                            <h3 class="title-head">Posts</h3>
                        </header>
                        @{
                            listOfPosts = ctx.Posts.Where(x => x.PostCategoryId != Model.CategoryId).ToList();
                            listOfPosts = listOfPosts.Where(x => x.isDeleted == 0 && x.isPublished == 1 && x.PostDetail.ToList().Count() > 0).ToList();
                            listOfPosts.Reverse();
                            for(int i=0; i<4; i++){
                                try
                                {
                                    Post v = listOfPosts.ElementAt(i);
                            <div class="c-sports-main" style="margin-bottom:5%; max-height:200px">
                                <div class="c-image">
                                    <a href="../../publications/detail/@v.PostId"><img src="@v.PostDetail.First().FileName.Replace("~","../..")" alt="" /></a>
                                </div>
                                <div class="c-text">
                                    <h4 style="text-align:@v.TitleAllignment">@v.PostTitle</h4>
                                    <a class="power" href="../../publications/detail/@v.PostId">@v.PostDetail.First().Content</a>
                                    <p class="date">@v.CreatationDate</p>
                                    <a class="reu" href="../../publications/detail/@v.PostId"><img src="../../Content/client/images/more.png" alt="" /></a>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                             
                                }
                                catch (Exception er) { }
                            }
                        }
                         
             <!--Main Grid ends here -->

 
<hr/>
    
             <!--Small Grid starts from here -->
                     
                    </div>
                </div>
                <div class="s-grid-right">
                    <div class="cricket">
                        <header>
                            <h3 class="title-popular">Blogs</h3>
                        </header>
                        @{

                            List<Blog> list = ctx.Blog.Where(x => x.isDeleted == 0).ToList();
                            list.Reverse();
                            for(int i=0; i<4 && i<list.Count(); i++){
                                Blog v = list.ElementAt(i);
                        <div class="c-sports-main" style="margin-bottom:5%; max-height:200px">
                            <div class="c-image">
                                <a href="../../publications/getblog/@v.BlogId"><img src="../../Files/Blogs/@v.BlogId/@v.picture" alt="" /></a>
                            </div>
                            <div class="c-text">
                                <h4>@v.BlogTitle</h4>
                                <a class="power" href="../../publications/getblog/@v.BlogId">@v.BlogDescription</a>
                                <p class="date">@v.CreatationDate</p>
                                <a class="reu" href="../../publications/getblog/@v.BlogId"><img src="../../Content/client/images/more.png" alt="" /></a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        }
                        }
                             
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        
          @Html.Partial("/Views/Shared/comments.cshtml")
				@Html.Partial("/Views/Shared/addresponse.cshtml")


				</div>

			  @Html.Partial("/Views/Shared/recentposts.cshtml")
             <div class="clearfix"></div>

    </div>
</div>
<!-- content-section-ends-here -->

